$button-colors: (
  primary-70: (
    color: var(--primary-05),
    background-color: var(--primary-70),
    border-color: var(--primary-70),
    hover: (
      color: var(--primary-05),
      background-color: var(--primary-80),
      border-color: var(--primary-80),
    ),
    focus: (
      color: var(--primary-05),
      background-color: var(--primary-80),
      border-color: var(--primary-80),
    ),
    disabled: (
      color: var(--neutral-20),
      background-color: var(--neutral-70),
      border-color: var(--neutral-70),
    )
  )
)
